<% provide :title, t("about") %>
<h1><%= t "about" %></h1>
<p>
  <%= link_to Settings.rails_tut_org do %>
  <em><%= Settings.rails_tut %></em>
  <% end %>, <%= t(".part_of")%>
  <%= link_to t(".learn"), Settings.learn_enough_url %> <%= t(".family") %>
  <%= link_to t("book"), Settings.rails_tut_book_url %> <%= t("and") %>
  <%= link_to t(".screen_cast"), Settings.rails_screencast_url %> <%= t(".webdev") %>
  <%= link_to Settings.rails, Settings.rails_tut_url %> <%= t(".sample_app") %>
</p>
