<% provide :title, t("contact") %>
<h1><%= t "contact" %></h1>
<p>
  <%= t "contact" %> <%= link_to Settings.rails_tut, Settings.rails_tut_url %> <%= t "about" %> <%= t ".sample_app" %>
  <%= link_to t("contact"), Settings.rails_tut_contact_url %>.
</p>
