<% provide :title, t("help") %>
<h1><%= t "help" %></h1>
<p>
  <%= t ".help" %>
  <%= link_to  Settings.rails_tut, Settings.rails_tut_help_url %>
  <%= t ".see_help" %>
  <%= link_to Settings.rails_tut_book_url do %>
  <em><%= Settings.rails_tut %></em> <%= t "book" %>
  <% end %>.
</p>
